{% extends "base.html" %}

{% load static %}
{% block content %}


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 230px">
            <h3 class="display-3 font-weight-bold text-white">Kontaktujte nás</h3>
            <div class="d-inline-flex text-white">

            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Jméno" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Váš Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Předmět" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" rows="6" id="message" placeholder="Zpráva" required="required" data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Odeslat</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-5">

                    <div class="d-flex">
                        <i class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Adresa</h5>
                            <p>Libotenice 58,
                            412 01 Litoměřice</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Kontakt na ředitele školy a <br> správce osobních údajů:</h5>
                            <p>E-mail: zsamslibotenice@gmail.com <br>
                                rs.libotenice@gmail.com<br>
                                +420 416 848 060</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Kontakt na ředitele školy a <br> správce osobních údajů:</h5>
                            <p>E-mail: marek.komarek@sms-sluzby.cz <br>
                                +420 725 983 171</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Bankovní účet školy<br></h5>
                            <p>1004920319/0800</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Datová schránka školy<br></h5>
                            <p>jjgu52q</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}

