{% extends "base.html" %}


{% block content %}


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 230px">
            <h3 class="display-3 font-weight-bold text-white">Jídelna</h3>
            <div class="d-inline-flex text-white">
                <p class="m-1">2023/2024</p>

            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Main Start -->
        <div class="container-fluid pt-5">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 pb-1">
                        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">

                            <div class="pl-4">

                                <p class="m-1">
                                Škola dováží obědy pro školku z <b>MŠ Čtyřlístek Terezín</b> a pro žáky školy z
                                provozovny <b>Primirest</b> Roudnice nad Labem. <br><br>

                                Jídelníček je tvořen podle zásad zdravého životního stylu.<br><br>

                                <u>Kontakty:</u><br><br>

                                MŠ Čtyřlístek Terezín – paní Dana Krejzová (730 512 730),
                                <a href="https://www.ms-terezin.cz/jidelna.html">https://www.ms-terezin.cz/jidelna.html</a> <br>
                                Primirest – pan Karel Frič (731 438 421), <a href="www.primirest.cz">www.primirest.cz</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endblock %}