{% extends "base.html" %}

{% load static %}
{% block content %}


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 230px">
            <h3 class="display-3 font-weight-bold text-white">Aktuality</h3>
            <div class="d-inline-flex text-white">
                <p class="m-1"><a class="text-white" href="">2023/2024</a></p>

            </div>
        </div>
    </div>
    <!-- Header End -->


   <!-- Main Start -->


            <div class="container text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Aktuality</span></p>
            </div>

            {% for item in aktuality_list %}
                    <div class="aktualita" style="display: inline-block; width: 100%; text-align:center; float: left;">
                        <img class="card-img-top mb-2" src="{% static 'img/vysledky.png' %}" style="width: 150px;" alt="">

                            <h4 class="">{{ item.title }}</h4> <h4 class="">{{ item.date }}</h4>
                                <p style="height: 120px; padding: 0 120px;">{{ item.description }}</p>
                        </div>


        {% endfor %}
<div style="clear:both;"></div>
{% endblock %}
