{% extends "base.html" %}

{% block content %}
    <!-- Header Start -->
        <div class="container-fluid bg-primary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 230px">
                <h3 class="display-3 font-weight-bold text-white">Školní družina</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-1">2023/2024</a></p>

                </div>
            </div>
        </div>

    <!-- Header End -->
    <!-- Main Start -->
    <div class="container-fluid pt-5">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 pb-1">
                        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">

                            <div class="pl-4">

                                <p class="m-1">
                                    Školní družina má kapacitu 30 žáků a je určena primárně pro žáky 1. – 2. roč.,
                                    v případě volné kapacity i pro žáky 3. až 5. ročníku.<br><br>
                                    Umístění do ŠD není nárokové,
                                    rozhoduje o něm ředitelka školy. <br>
                                    Děti jsou do ŠD přijímány na základě Zápisního lístku.<br><br>

                                    O žáky ve družince se stará paní vychovatelka Ivana Mihulková.<br>

                                    Telefon: 416 848 060 <br><br>

                                    <b>Provoz ŠD
                                    ranní družina 6.00 – 7.25
                                        odpolední družina 11.10 – 15.30</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}