{% extends "base.html" %}

{% block content %}

    <!-- Header Start -->
        <div class="container-fluid bg-primary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 230px">
                <h3 class="display-3 font-weight-bold text-white">Historie školy</h3>
                <div class="d-inline-flex text-white">


                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Main Start -->
    <div class="container-fluid pt-5">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 pb-1">
                        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">

                            <div class="pl-4">

                                <p class="m-1">
                                    <b style="font-size: 30px;"></b>


                                    Nejstarší kronika školy Kronika školy v Libotenicích je vedena od roku 1883,
                                    kdy nastoupil do úřadu řídícího učitele Josef Urban. Píše:
                                    „Počal jsem tedy pátrati po pramenech dějin školních.
                                    Leč starších písemných památek nalezl jsem málo, proto musel jsem se
                                    spokojiti vypravováním některých starších občanů, ač tu sdělení v příčině
                                    bývalých pomocníků v mnohém se rozcházelo.“
                                    Berme proto následující údaje pouze orientačně podle toho, jak je zaznamenal
                                    výše jmenovaný pan řídící učitel. Ve farní kronice se dovídáme, že roku 1762
                                    byla zřízena nová škola (pravděpodobně na místě pozdější školy v č. d. 25).
                                    Ta stála téměř do roku 1820, ale časem tak sešla, že po jistý čas muselo být
                                    vyučováno také v domě č. 13. Roku 1820 byla tedy vystavěna na místě zchátralé
                                    školy nová budova, tedy s číslem 25. Mimochodem, tento dům dodnes stojí, ale
                                    slouží jako soukromý obytný dům. <br>
                                    Jelikož škola časem přestávala kapacitně vyhovovat, byla roku 1882 postavena
                                    naproti škola zcela nová, patrová, která dodnes tvoří základní část celého objektu.
                                    Teprve v roce 1932 byla ještě stavitelem Janem Menhardem dobudována zadní
                                    přístavba, namísto původního záměru zvýšit školu o druhé patro.<br>
                                    Stará škola byla původně pouze jednotřídní. Od roku 1873 bylo povoleno c. k.
                                    rakouskou radou rozšíření o druhou třídu. Dne 1. 9. 1883 se začalo vyučovat ve
                                    třech třídách v nové budově a od roku 1893 byla zavedena i třída čtvrtá.<br><br>

                                    V roce 1981 poklesl počet žáků pod 15, proto byla v tomto roce škola uzavřena.
                                    Znovuotevření proběhlo roku 1991. V roce 1995 byl po
                                    školské reformě otevřen i 5. ročník.<br><br>

                                    Vzhledem k velkému počtu narozených dětí v obci vznikla v roce 2012 také
                                    mateřská škola s kapacitou 10 dětí.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}