{% extends "base.html" %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
        <div class="row align-items-center px-3">
            <div class="col-lg-6 text-center text-lg-left">
                <h4 class="text-white mb-4 mt-5 mt-lg-0"></h4>
                <h1 class="font-weight-bold text-white">Základní škola Libotenice</h1>
                <div id="box">

                <p class="header-text-history">
                    Jsme malotřídní školou a školkou rodinného typu, ve kterém dbáme na přátelské a bezpečné klima.
                    Využíváme výhod venkovského prostředí a zároveň držíme krok s dnešní moderní dobou.
                    Naší snahou je nenásilnou a hravou formou připravit děti do jejich dalších škol života
                    Základní škola a mateřská škola sdružuje 4 součásti: základní školu, mateřskou školu,
                    školní družinu a školní jídelnu – výdejnu.
                    V letošním školním roce je ve škole 5 ročníků se 45 žáky,
                    kteří jsou rozděleni do třech tříd. Žáky vedeme dle ŠVP pro ZV „Cesta k dětem“.
                    Škola nabízí logopedickou poradnu a zájmové kroužky.
                    Mateřská škola je jednotřídní přímo v prostorách školy –
                    je zde velkou výhodou přirozený přestup na základní školu. V tento rok máme ve školce 8 dětiček.</p>
            </div>


            </div>
            <div class="col-lg-6 text-center text-lg-right" style="margin-top: 3rem !important">
                <img class="img-school mt-5" src="img/DJI_0214.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Facilities Start -->
    <div class="container-fluid pt-5">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Organizace školy</h4>
                            <p class="m-0">
                                2023/2024
                                Škola je malotřídní – děti se vyučují ve třídách s dvěma ročníky.<br><br>
                                Má 5 ročníků prvního stupně. Letos se vyučuje ve třech třídách:<br><br>
                                • třída I. (1. + 2. roč.), třídní. uč. Mgr. Lenka Kalíková<br>
                                • třída II. (3.roč.), třídní uč. Mgr. Daša Cupalová<br>
                                • třída III. (4. + 5. roč.), třídní uč. Mgr. Andrea Parnahajová<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Zápis dětí do 1. ročníku ZŠ 2020/2021</h4>
                            <p class="m-0">POZOR!!! DALŠÍ ZMĚNA PRŮBĚHU ZÁPISU!!!
                            Pozor! Žádosti a další doklady neposílejte obyčejným mailem!!! (Viz Podmínky přijetí a Podmínky odkladu!)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Rozhodnutí o přijetí k základnímu vzdělávání.</h4>
                            <p class="m-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- Blog Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Aktuality</span></p>
                <h1 class="mb-4"></h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <img class="card-img-top mb-2" src="img/volno.png" alt="">
                        <div class="card-body bg-light text-center p-4">
                            <h4 class="">29.9.2023 - Ředitelské volno</h4>

                            <p> Bla bla bla Bla bla bla Bla bla bla Bla bla bla Bla bla bla Bla bla bla</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <img class="card-img-top mb-2" src="img/skolka.jpg" alt="">
                        <div class="card-body bg-light text-center p-4">
                            <h4 class="">ROZHODNUTÍ O PŘIJETÍ DO MŠ</h4>

                            <p>Bla bla bla Bla bla bla Bla bla bla Bla bla bla Bla bla bla Bla bla bla</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <img class="card-img-top mb-2" src="img/vysledky.png" alt="">
                        <div class="card-body bg-light text-center p-4">
                            <h4 class="">VÝSLEDKY ZÁPISU DO ZŠ 2023/2024</h4>

                            <p>Bla bla bla Bla bla bla Bla bla bla Bla bla bla Bla bla bla Bla bla bla</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <!-- Class Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Fotogalerie</span></p>
                <h1 class="mb-4"></h1>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <div class="card border-0 bg-light shadow-sm pb-2">
                        <img class="card-img-top mb-2" src="img/trida-zaci-nuda-skola_denik-630-16x9.jpg" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title">2023/2024</h4>
                            <p class="card-text"></p>
                        </div>

                        <div class="card-footer bg-transparent py-4 px-5">

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card border-0 bg-light shadow-sm pb-2">
                        <img class="card-img-top mb-2" src="img/perex_thumb_2.jpg" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title">2022/2023</h4>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent py-4 px-5"></div>


                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card border-0 bg-light shadow-sm pb-2">
                        <img class="card-img-top mb-2" src="img/Chairs.jpg" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title">2021/2022</h4>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent py-4 px-5"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Class End -->

{% endblock %}