{% extends "base.html" %}

{% block content %}

    <!-- Header Start -->
        <div class="container-fluid bg-primary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-3 font-weight-bold text-white">Prázdniny a volné dny</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-1">Organizace školního roku 2019/2020</a></p>

                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Main Start -->
    <div class="container-fluid pt-5">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 pb-1">
                        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">

                            <div class="pl-4">

                                <p class="m-1"> Období školního vyučování ve školním roce 2019/2020 začne ve všech
                                                základních školách,<br />
                                                středních školách, základních uměleckých školách a konzervatořích
                                                v pondělí 2. září 2019.<br />
                                                Vyučování bude v prvním pololetí ukončeno ve čtvrtek 30. ledna
                                                2020. Období školního<br />
                                                vyučování ve druhém pololetí bude ukončeno v úterý 30. června
                                                2020.<br />
                                                Podzimní prázdniny připadnou na úterý 29. října a středu 30. října
                                                2019.<br />
                                                Vánoční prázdniny budou zahájeny v pondělí 23. prosince 2019 a
                                                skončí v pátek<br />
                                                3. ledna 2020. Vyučování začne v pondělí 6. ledna 2020.<br />
                                                Jednodenní pololetní prázdniny připadnou na pátek 31. ledna 2020.<br />
                                                Jarní prázdniny v délce jednoho týdne jsou podle sídla školy stanoveny
                                                takto:<br />
                                                Termín jarních prázdnin<br /><br />

                                                Okres nebo obvod hl. města Prahy<br />
                                                3. 2. – 9. 2. 2020 Mladá Boleslav, Příbram, Tábor, Prachatice,
                                                Strakonice, Ústí nad<br />
                                                Labem, Chomutov, Most, Jičín, Rychnov nad Kněžnou, Olomouc,<br />
                                                Šumperk, Opava, Jeseník<br />
                                                10. 2. – 16. 2. 2020 Benešov, Beroun, Rokycany, České Budějovice,
                                                Český Krumlov,<br />
                                                Klatovy, Trutnov, Pardubice, Chrudim, Svitavy, Ústí nad Orlicí,
                                                Ostravaměsto, Prostějov<br />
                                                17. 2. – 23. 2. 2020 Praha 1 až 5, Blansko, Brno-město, Brno-venkov,
                                                Břeclav, Hodonín,<br />
                                                Vyškov, Znojmo, Domažlice, Tachov, Louny, Karviná<br />
                                                <strong>24. 2. – 1. 3. 2020</strong> Praha 6 až 10, Cheb, Karlovy Vary,
                                                Sokolov, Nymburk, Jindřichův<br />
                                                Hradec, <strong>Litoměřice</strong>, Děčín, Přerov, Frýdek-Místek<br />
                                                2. 3. – 8. 3. 2020 Kroměříž, Uherské Hradiště, Vsetín, Zlín,
                                                Praha-východ, Praha-západ,<br />
                                                Mělník, Rakovník, Plzeň-město, Plzeň-sever, Plzeň-jih, Hradec
                                                Králové,<br />
                                                Teplice, Nový Jičín<br />
                                                9. 3. – 15. 3. 2020 Česká Lípa, Jablonec nad Nisou, Liberec, Semily,
                                                Havlíčkův Brod,<br />
                                                Jihlava, Pelhřimov, Třebíč, Žďár nad Sázavou, Kladno, Kolín, Kutná<br
                                                />
                                                Hora, Písek, Náchod, Bruntál<br />
                                                Poznámky k tabulce:<br />
                                                Praha 1 až 5 jsou městské části: Praha 1, Praha 2, Praha 3, Praha 4,
                                                Praha 5, Praha 11,<br />
                                                Praha 12, Praha 13, Praha 16, Praha-Kunratice, Praha-Libuš, Praha-Lipence,
                                                Praha-Lochkov,<br />
                                                Praha-Řeporyje, Praha-Slivenec, Praha-Šeberov, Praha-Újezd, Praha-Velká
                                                Chuchle,<br />
                                                Praha-Zbraslav, Praha-Zličín.<br />
                                                Praha 6 až 10 jsou městské části: Praha 6, Praha 7, Praha 8, Praha 9,
                                                Praha 10, Praha 14,<br />
                                                Praha 15, Praha 17, Praha 18, Praha 19, Praha 20, Praha 21, Praha 22,
                                                Praha-Kolovraty,<br />
                                                Praha-Běchovice, Praha-Benice, Praha-Březiněves, Praha-Čakovice,
                                                Praha-Ďáblice,<br />
                                                Praha-Dolní Chabry, Praha-Dolní Měcholupy, Praha-Dolní Počernice,
                                                Praha-Dubeč,<br />
                                                Praha-Klánovice, Praha-Koloděje, Praha-Královice, Praha-Křeslice,
                                                Praha-Lysolaje,<br />
                                                Praha-Nebušice, Praha-Nedvězí, Praha-Petrovice, Praha-Přední Kopanina,
                                                Praha-Satalice,<br />
                                                Praha-Suchdol, Praha-Štěrboholy, Praha-Troja, Praha-Vinoř.<br />
                                                Velikonoční prázdniny připadnou na čtvrtek 9. dubna 2020. Pátek
                                                10. dubna 2020 je<br />
                                                tzv. ostatním svátkem podle zákona č. 245/2000 Sb., o státních
                                                svátcích, o ostatních svátcích,<br />
                                                o významných dnech a o dnech pracovního klidu, ve znění pozdějších
                                                předpisů.<br />
                                                Hlavní prázdniny budou trvat od středy 1. července 2020 do pondělí
                                                31. srpna 2020.<br />
                                                Období školního vyučování ve školním roce 2020/2021 začne v úterý
                                                1. září 2020.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}