{% extends "base.html" %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Zájmové kroužky ZŠ</h3>
            <div class="d-inline-flex text-white">
                <p class="m-1">(říjen – květen)</p>

            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Main Start -->
        <div class="container-fluid pt-5">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-lg-6 col-md-6 pb-1">
                        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">

                            <div class="pl-4">
                                <h4>Pro žáky ZŠ:</h4>
                                <p class="m-1"> Angličtina – úterý 13.00 – 13.45, J. Odehnalová
                                                Hra na kytaru – (od 3. ročníku) – středa 13.00 – 13.45, J. Panschab
                                                Tanec a sport – čtvrtek 13.00 – 13.45, A. Bastlová
                                                Keramika – pátek 13.00 – 14.30, I. Mihulková</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 pb-1">
                        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">

                            <div class="pl-4">
                                <h4>Pro děti MŠ:</h4>
                                <p class="m-1">Dovedné ruce – čtvrtek 15.00 – 15.50, K. Mihulková</p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
{% endblock %}