{% extends "base.html" %}

{% block content %}


    <!-- Header Start -->
        <div class="container-fluid bg-primary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 230px">
                <h3 class="display-3 font-weight-bold text-white">Zápis do 1. třídy</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-1">2023/2024</a></p>

                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Main Start -->
    <div class="container-fluid pt-5">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 pb-1">
                        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">

                            <div class="pl-4">

                                <p class="m-1">
                                <b>Milí rodiče a zákonní zástupci budoucích prvňáčků,

                                zde vám přinášíme informace k letošnímu zápisu do prvních tříd pro školní rok 2023/2024:</b><br><br>

                                Zápis do 1. třídy bude probíhat ve středu 19. dubna 2023 od 14 do 17 hodin.

                                Pro školní rok 2023/2024 zapisujeme tyto děti:<br><br>

                                • 6 let k 31. 8. 2023 (tzn. dítě narozené od 1. 9. 2016 do 31. 8 2017),<br>

                                • děti s odkladem povinné školní docházky z loňského roku,<br>

                                • přednostně přijímáme děti trvale pobytem ve spádové oblasti ZŠ Libotenice
                                (Libotenice, Oleško, Hrobce, Rohatce, Židovice) - kapacita budoucí první třídy je 25 žáků.<br><br>

                                S sebou si k zápisu zákonný zástupce přinese tyto dokumenty:<br><br>

                                • Žádost o přijetí*,<br>

                                • platný doklad o svém trvalém pobytu (občanský průkaz, pas),<br>

                                • rodný list dítěte (kopii),<br>

                                • v případě odkladu povinné školní docházky navíc dále zákonný zástupce přinese
                                vyplněnou Žádost o přijetí, vyplněnou Žádost o odklad, kopii doporučení poradenského
                                zařízení odkladu školní docházky (PPP, SPC), kopii doporučení lékaře či klinického
                                psychologa k odkladu školní docházky<br><br>

                                <span style="color:red;">*Žádost o přijetí – elektronická přihláška k zápisu</span><br>

                                První část zápisu proběhne elektronicky, jde o přihlášku k zápisu,
                                která bude zpřístupněna 29. března 2023 na tomto odkazu:
                                <a href="https://aplikace.skolaonline.cz/SOL/PublicWeb/ZSaMSLibotenice/
                                KWE015_Prihlaska.aspx?ID=4627">Odkaz zde.</a><br><br>


                                Po úspěšném přihlášení, obdržíte zprávu na e-mailovou adresu,
                                kterou jste uvedli v přihlášce. Součástí této zprávy bude Vaše registrační číslo,
                                pod kterým budete po celý průběh zápisu evidováni a
                                díky němuž následně zjistíte výsledky zápisu.<br>
                                Dále je ve zprávě odkaz na žádost o přijetí i odkaz na žádost o odklad povinné
                                školní docházky. Postupujte podle pokynů v e-mailu. <br>
                                <span style="color:red;"><u>Žádost o přijetí je třeba
                                vytisknout, podepsat oběma zákonnými zástupci a přinést k zápisu.</u></span><br><br>

                                Budete-li mít potíže s vyplněním elektronických formulářů, můžeme tak učinit na místě.
                                Počítejte však s tím, že se doba zápisu protáhne
                                a je v takovém případě nutná přítomnost obou zákonných zástupců.<br><br>

                                O přijetí či nepřijetí Vašeho dítěte se dozvíte z rozhodnutí ředitelky školy do 30 dní
                                po ukončení zápisu.<br>
                                Toto rozhodnutí bude zveřejněno na webových
                                stránkách a na úřední desce školy.<br>

                                Pokud potřebujete s čímkoliv poradit, neváhejte,
                                zavolejte nebo nám napište na emailovou adresu:<br><br>

                                <b>tel: 416 848 060, email: rs.libotenice@gmail.com<br><br>

                                Těšíme se na vás!</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}